<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
	<head>
		<meta charset="UTL-8">
		<title>Flix Web</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/crud.css' %}">
	</head>
	<body>
		{% include '../menu.html' %}
	</body>
	<main>
		<div class="conteiner">
			<div class="divForm">
				<form onsubmit="/genero/" id="form-genero" method="post">
					{{ form_genero }}
					{% csrf_token %}
					<input type="submit" id="submit-button" value="Enviar"/>
				</form>
			</div>
		</div>
	</main>
</html>
