form {
	margin: 30px;
}

form label {
	display: inline;
	text-align: center;
	font-size: 1.3em;
	padding: 1em;
}

#submit-button {
	background: #28c997;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1em;
}

#submit-button:hover {
	background-color: #00a293;
	font-weight: bolder;
	font-size: 1.2em;
}

.conteiner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.divForm {
	background-color: blue;
}